@import url("font-awesome.css");

@font-face {
	font-family: 'MuseoSansRounded300';
	src: url('../fonts/museosans/MuseoSansRounded-300.eot?#iefix')
		format('embedded-opentype'),
		url('../fonts/museosans/MuseoSansRounded-300.otf') format('opentype'),
		url('../fonts/museosans/MuseoSansRounded-300.woff') format('woff'),
		url('../fonts/museosans/MuseoSansRounded-300.ttf') format('truetype'),
		url('../fonts/museosans/MuseoSansRounded-300.svg#MuseoSansRounded-300')
		format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'MuseoSansRounded900';
	src: url('../fonts/museosans/MuseoSansRounded-900.eot');
	src: url('../fonts/museosans/MuseoSansRounded-900.eot?#iefix')
		format('embedded-opentype'),
		url('../fonts/museosans/MuseoSansRounded-900.woff2') format('woff2'),
		url('../fonts/museosans/MuseoSansRounded-900.woff') format('woff'),
		url('../fonts/museosans/MuseoSansRounded-900.svg#MuseoSansRounded-900')
		format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'MuseoSansRounded500';
	src: url('../fonts/museosans/MuseoSansRounded-500.eot');
	src: url('../fonts/museosans/MuseoSansRounded-500.eot?#iefix')
		format('embedded-opentype'),
		url('../fonts/museosans/MuseoSansRounded-500.woff2') format('woff2'),
		url('../fonts/museosans/MuseoSansRounded-500.woff') format('woff'),
		url('../fonts/museosans/MuseoSansRounded-500.svg#MuseoSansRounded-500')
		format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'MuseoSansRounded700';
	src: url('../fonts/museosans/MuseoSansRounded-700.eot');
	src: url('../fonts/museosans/MuseoSansRounded-700.eot?#iefix')
		format('embedded-opentype'),
		url('../fonts/museosans/MuseoSansRounded-700.woff2') format('woff2'),
		url('../fonts/museosans/MuseoSansRounded-700.woff') format('woff'),
		url('../fonts/museosans/MuseoSansRounded-700.svg#MuseoSansRounded-700')
		format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Gotham */
@font-face {
	font-family: 'Gotham Light';
	src: url('../fonts/gotham/GothamLight.eot');
	src: url('../fonts/gotham/GothamLight.eot?#iefix')
		format('embedded-opentype'), url('../fonts/gotham/GothamLight.woff2')
		format('woff2'), url('../fonts/gotham/GothamLight.woff')
		format('woff'), url('../fonts/gotham/GothamLight.svg#GothamLight')
		format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Gotham Medium';
	src: url('../fonts/gotham/Gotham-Medium.eot');
	src: url('../fonts/gotham/Gotham-Medium.eot?#iefix')
		format('embedded-opentype'),
		url('../fonts/gotham/Gotham-Medium.woff2') format('woff2'),
		url('../fonts/gotham/Gotham-Medium.woff') format('woff'),
		url('../fonts/gotham/Gotham-Medium.svg#Gotham-Medium') format('svg');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Gotham Bold';
	src: url('../fonts/gotham/Gotham-Bold.eot');
	src: url('../fonts/gotham/Gotham-Bold.eot?#iefix')
		format('embedded-opentype'), url('../fonts/gotham/Gotham-Bold.woff2')
		format('woff2'), url('../fonts/gotham/Gotham-Bold.woff')
		format('woff'), url('../fonts/gotham/Gotham-Bold.svg#Gotham-Bold')
		format('svg');
	font-weight: bold;
	font-style: normal;
}

a, a:visited {
	color: #0087cc;
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

a:hover, a:focus {
	color: #000;
}

body {
	font-family: 'Gotham Light', sans-serif;
	line-height: 1.875;
	color: #564d48;
	margin: 0;
	padding: 0;
}

a, button {
	cursor: pointer;
}

/* Header */
#header {
	width: 100%;
	height: 105px;
	background-color: #e9f7fc;
	position: fixed;
	left: 0;
	right: 0;
	z-index: 501;
}

.header-logo {
	position: static;
	z-index: 501;
	width: 55px;
	margin: 18px 0 0;
}

.header-logo a {
	display: block;
	margin: 0;
	padding: 0;
	outline: 0;
	border: none;
	font: 0/0 a;
	text-shadow: none;
	color: transparent;
	-webkit-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.header-logo img {
	width: 100%;
}

.header-menu-toggle {
	display: none;
	position: fixed;
	right: 32px;
	top: 15px;
	height: 42px;
	width: 42px;
	line-height: 42px;
	font-family: "montserrat-regular", sans-serif;
	font-size: 1.4rem;
	text-transform: uppercase;
	letter-spacing: .2rem;
	color: rgba(255, 255, 255, 0.5);
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.header-menu-toggle:hover, .header-menu-toggle:focus {
	color: #FFFFFF;
}

.header-menu-toggle span {
	display: block;
	width: 24px;
	height: 2px;
	margin-top: -1px;
	position: absolute;
	left: 9px;
	top: 50%;
	right: auto;
	bottom: auto;
	background-color: #564d48;
	-webkit-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	font: 0/0 a;
	text-shadow: none;
	color: transparent;
}

/*
.header-menu-toggle span::before,
.header-menu-toggle span::after {
  content: '';
  width: 100%;
  height: 100%;
  background-color: inherit;
  position: absolute;
  left: 0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
*/
.header-menu-toggle span::before {
	top: -9px;
}

.header-menu-toggle span::after {
	bottom: -9px;
}

.header-menu-toggle.is-clicked span {
	background-color: rgba(255, 255, 255, 0);
	-webkit-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
}

.header-menu-toggle.is-clicked span::before, .header-menu-toggle.is-clicked span::after
	{
	background-color: #564d48;
}

.header-menu-toggle.is-clicked span::before {
	top: 0;
	-webkit-transform: rotate(135deg);
	-ms-transform: rotate(135deg);
	transform: rotate(135deg);
}

.header-menu-toggle.is-clicked span::after {
	bottom: 0;
	-webkit-transform: rotate(225deg);
	-ms-transform: rotate(225deg);
	transform: rotate(225deg);
}

#header-nav-wrap {
	font-family: "montserrat-medium", sans-serif;
	font-size: 14px;
	position: static;
	float: right;
	margin: 38px 0 0;
}

#header-nav-wrap .header-main-nav {
	display: inline-block;
	list-style: none;
	height: auto;
	margin: 0 1rem 0 0;
}

#header-nav-wrap .header-main-nav li {
	display: inline-block;
	padding-left: 0;
	margin-right: 25px;
}

#header-nav-wrap .header-main-nav li a {
	display: block;
	line-height: 31px;
}

#header-nav-wrap .header-main-nav li a, #header-nav-wrap .header-main-nav li a:visited
	{
	color: #3b3735;
	font-family: 'Gotham Medium';
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 1.5px;
	font-size: 15px;
}

#header-nav-wrap .header-main-nav li a:hover, #header-nav-wrap .header-main-nav li a:focus
	{
	color: #3b3735;
}

#header-nav-wrap .header-main-nav li.current a {
	color: #ffffff;
	background: #f68121;
	padding: 0 10px;
	margin: 0 -10px;
	border-radius: 5px;
}

#header-nav-wrap .cta {
	height: 3.6rem;
	line-height: calc(3.6rem - .6rem);
	padding: 0 1.5rem;
	font-family: "montserrat-medium", sans-serif;
	font-size: 14px;
	text-transform: none;
	letter-spacing: normal;
	margin: 0;
}

/******* Login Page CSS *************/
.login-bg, .bg-arrow {
	background: url('../Images/bg-blue.jpg');
	background-size: 100%;
	background-position: top center;
	width: 100%;
	padding: 30px 0;
	margin: 0;
}

.login-bg h1 {
	color: #564d48;
	font-family: "MuseoSansRounded500", sans-serif;
	font-size: 40px;
	letter-spacing: 1px;
	margin: 30px 0 15px;
	text-align: center;
}

.login-form {
	background: #fff;
	border-radius: 30px;
	padding: 50px;
	max-width: 355px;
	margin: 0 auto 50px;
}

.login-form label {
	color: #564d48;
	font-family: "MuseoSansRounded300", sans-serif;
	font-size: 15px;
	letter-spacing: 1px;
	line-height: 22px;
}

.login-form input {
	box-shadow: none;
	background: #fff !important;
	border-top: 0;
	border-left: 0;
	border-right: 0;
	border-bottom: 2px solid rgba(0, 0, 0, 0.2);
	border-radius: 0;
	padding: 10px 0;
	font-family: 'Gotham Light';
	font-weight: 600;
	letter-spacing: 1px;
	margin: 0 0 20px;
	display: block;
	width: 100%;
	transition: all 0.1s ease-in-out;
	-webkit-transition: all 0.1s ease-in-out;
}

input:focus {
	outline: none;
}

.login-form input:focus {
	border-bottom: 2px solid #52bde2;
	transition: all 0.1s ease-in-out;
	-webkit-transition: all 0.1s ease-in-out;
}

.link-forgotpwd {
	color: #52bde2;
	font-family: 'Gotham Light';
	font-weight: 600;
	text-align: center;
	display: block;
	margin: 0 auto 15px;
	cursor: pointer;
	width: 200px;
}

.login-btn {
	background: #f68121;
	color: #fff !important;
	font-family: 'MuseoSansRounded500';
	font-size: 14px;
	padding: 7px 15px;
	border-radius: 8px;
	line-height: 18px;
	letter-spacing: 2px;
	text-transform: uppercase;
	display: block;
	margin: 0 auto;
	width: 90px;
}

.login-btn:hover, .login-btn:focus {
	box-shadow: 0 0px 9px 2px rgba(0, 0, 0, 0.2);
}

/* Forgot Password popup */
#forgetpasswordmodal .modal-dialog {
	width: 550px;
}

.popup-box {
	background: #e7f6fc;
	border-radius: 0;
	padding: 50px 70px;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

#forgetpasswordmodal h3 {
	color: #f68121;
	font-family: 'MuseoSansRounded500';
	font-size: 30px;
	letter-spacing: 1px;
}

#forgetpasswordmodal h4 {
	color: #564d48;
	font-family: 'Gotham Light';
	font-size: 15px;
	margin: 0 0 20px;
	line-height: 22px;
	font-weight: 600;
	letter-spacing: 0.5px;
}

#forgetpasswordmodal .close {
	position: absolute;
	top: 30px;
	right: 32px;
	font-size: 30px;
	opacity: 1;
	color: #564d48;
	font-weight: 400;
}

#forgetpasswordmodal input {
	border-top: 0;
	border-left: 0;
	border-right: 0;
	border-bottom: 2px solid rgba(0, 0, 0, 0.2);
	border-radius: 0;
	font-family: 'Gotham Light';
	font-weight: 600;
	letter-spacing: 1;
	background: transparent !important;
	padding: 8px 0;
	margin: 0 0 10px;
}

#forgetpasswordmodal input:focus {
	border-bottom: 2px solid #52bde2;
	outline: none;
	box-shadow: none;
	background: transparent !important;
}

#forgetpasswordmodal input:placeholder, #forgetpasswordmodal input:-webkit-input-placeholder
	{
	color: rgba(0, 0, 0, 0.1);
	opacity: 0.2;
}

#forgetpasswordmodal .text-danger {
	font-family: 'Gotham Medium';
	font-size: 13px;
	letter-spacing: 0.5px;
	text-align: center;
	margin: -10px 0 10px;
}

#forgetpasswordmodal .btn-changepwd {
	background: #f68121;
	color: #fff !important;
	font-family: 'MuseoSansRounded500';
	font-size: 14px;
	padding: 7px 15px;
	border-radius: 8px;
	line-height: 18px;
	letter-spacing: 2px;
	text-transform: uppercase;
	display: block;
	margin: 0 auto;
	width: 200px;
}

/* footer */
footer {
	background: #f8f8f8;
	padding: 25px 0 20px;
	overflow: hidden;
}

.f-logo {
	margin: 0 40px 0 0;
	float: left;
}

.footer-links {
	float: left;
	margin: 0 40px 0 0;
}

.footer-links ul {
	list-style: none;
	margin: 0;
	padding: 0;
	line-height: 25px;
}

.footer-links ul li a {
	color: #564d48;
	font-family: 'MuseoSansRounded300';
	font-size: 14px;
	letter-spacing: 0.5px;
	text-decoration: none;
	line-height: 23px;
}

.footer-links ul li a:hover, .footer-links ul li a:focus {
	color: #f68121;
}

.copyright {
	color: #564d48;
	font-family: 'MuseoSansRounded300';
	font-size: 14px;
	letter-spacing: 0.5px;
	text-decoration: none;
	line-height: 23px;
	width: 260px;
	float: left;
}

.copyright span {
	font-weight: 600;
	margin: 0 0 10px;
	display: block;
}

.footer-social {
	float: right;
}

.footer-social ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.footer-social ul li {
	display: inline-block;
	margin: 0 8px 0 0;
}

.footer-social ul li a {
	color: #f68121;
	font-size: 21px;
	border: 2px solid #f68121;
	border-radius: 50%;
	width: 34px;
	height: 34px;
	display: block;
	text-align: center;
	line-height: 27px;
	padding: 6px 4px;
}

.footer-social ul li i {
	font-size: 17px;
}

.footer-social ul li a:hover, .footer-social ul li a:focus {
	background: #f68121;
	color: #fff;
}

/* View Slider CSS */
.slide {
	position: static;
	left: 0;
	width: 100%;
}

.slide.ng-enter, .slide.ng-leave {
	-webkit-transition: all 1s ease;
	transition: all 1s ease;
}

.slide.ng-enter {
	position: absolute;
	left: 100%;
}

.slide.ng-enter-active {
	position: absolute;
	left: 0;
}

.slide.ng-leave {
	left: 0;
}

.slide.ng-leave-active {
	left: -100%;
}

/* Digiplan Header */
.digiplan-header {
	background-color: #e9f7fc;
	height: 94px;
	border: 0;
	border-radius: 0;
}

.digiplan-header .navbar-brand {
	padding: 8px 15px;
	width: 95px;
}

.digiplan-header .navbar-brand img {
	width: 100%;
}

.digiplan-header .navbar-nav>li>a {
	margin: 10px;
	padding: 0;
	color: #564d48;
	font-family: 'MuseoSansRounded500';
	font-size: 14px;
	letter-spacing: 0.5px;
	text-transform: capitalize;
}

.digiplan-header .navbar-nav>li>a:hover, .digiplan-header .navbar-nav>li>a:focus
	{
	color: #f68121;
}

.digiplan-header .navbar-right {
	margin: 23px 0 0;
}

/* View Previous */
.table-previous {
	border: 1px solid #564d48;
	margin: 0 0 40px;
}

.table-previous thead th {
	color: #fff;
	font-size: 16px;
	font-family: 'Gotham Medium';
	font-weight: 400;
	padding: 14px 7px !important;
	border-right: 1px solid #fff;
}

.table-previous tbody th, .table-previous tbody td {
	color: #564d48;
	font-size: 14px;
	font-family: 'Gotham Light';
	font-weight: 600;
	padding: 7px 7px !important;
	border-right: 1px solid #564d48;
}

.table-previous tbody .btn-link {
	color: #f68121;
	font-family: 'Gotham Light';
	font-weight: 600;
	font-size: 14px;
	padding: 0;
}

.table-previous>table {
	margin: 0;
}

.table-previous tbody i {
	color: #333;
	font-size: 20px;
	margin: 0px 0 0;
}

.previous-search {
	margin: 15px 0 20px;
}

.search-text {
	color: #564d48;
	font-family: "Gotham Light";
	font-size: 16px;
	letter-spacing: 0.5px;
}

.search-text span {
	background: #f68121;
	padding: 11px;
	border-radius: 50%;
	width: 35px;
	display: inline-block;
	height: 35px;
	margin: 0 10px 0 0;
}

.search-text span i {
	font-size: 15px;
	color: #fff;
}

.previous-search input {
	box-shadow: none;
	background: #fff !important;
	border-top: 0;
	border-left: 0;
	border-right: 0;
	border-bottom: 2px solid rgba(0, 0, 0, 0.2);
	border-radius: 0;
	padding: 10px 0;
	font-family: 'Gotham Light';
	font-weight: 600;
	letter-spacing: 1px;
	margin: 0 0 20px;
	display: block;
	width: 100%;
	transition: all 0.1s ease-in-out;
	-webkit-transition: all 0.1s ease-in-out;
}

.previous-search input:focus {
	box-shadow: none;
}

/* Wizard Form CSS (Patient Prescription form) */
#wizardForm {
	margin: 30px 0;
}

.progress {
	background: #564d48 !important;
	border: 0 !important;
	height: 3px !important;
	box-shadow: none !important;
	margin-top: 13px !important;
}

#wizardForm .badge {
	border: 1px solid #f58220 !important;
	background: #fff !important;
	box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 5px !important;
}

#wizardForm .formDiv {
	background: transparent !important;
	box-shadow: none !important;
	-webkit-box-reflect: unset !important;
	margin: 0 0 30px;
}

#wizardForm h1 {
	color: #f58220;
	font-family: 'MuseoSansRounded500';
	font-size: 35px;
	letter-spacing: 1px;
	text-align: center;
	margin: 0 0 20px;
}

#wizardForm label {
	font-family: 'Gotham Light';
	font-size: 14px;
	letter-spacing: 0.5px;
	font-weight: 600;
}

#wizardForm input, #wizardForm select, #wizardForm textarea {
	border-top: 0;
	border-left: 0;
	border-right: 0;
	border-bottom: 1px solid #564d48;
	border-radius: 0;
	font-family: 'Gotham Light';
	font-size: 14px;
	font-weight: 600;
	box-shadow: none;
	margin: 0 0 10px;
}

#wizardForm input:focus, #wizardForm textarea:focus {
	border-bottom: 1px solid #f58220;
}

#wizardForm .next-prev-div {
	cursor: pointer;
}

#wizardForm .next-prev-div i {
	color: #564d48;
	font-size: 35px;
}

#wizardForm h3 {
	color: #52bde2;
	font-family: 'MuseoSansRounded500';
	font-size: 20px;
	letter-spacing: 0.5px;
	margin: 15px 0;
}

#wizardForm hr {
	background: #554d47;
	height: 1px;
	margin: 15px 0 30px;
}

#wizardForm input[tyoe="radio"] {
	margin: 6px 5px 4px;
	float: left;
}

#wizardForm .save-draft {
	border: 0;
	padding: 0;
	font-family: 'Gotham Light';
	font-size: 13px;
	font-weight: 600;
	letter-spacing: 0.5px;
	text-transform: capitalize;
	background: #52bde2;
	padding: 5px;
	float: right;
	margin: 20px 0 -60px;
	border-radius: 0;
	color: #fff;
	padding: 3px 6px;
}

#wizardForm .t-heading {
	background: #f58220;
	color: #fff;
	font-family: "Gotham Light";
	font-size: 13px;
	font-weight: 600;
	letter-spacing: 1.5px;
	padding: 4px;
	text-transform: uppercase;
	text-align: center;
	margin: -2px -2px 0;
}

#wizardForm .form-check-02 .form-check-label {
	width: 48%;
	padding: 0px 10px;
	text-align: left;
}

@media only screen and (max-width: 1230px) {
	#header {
		max-width: none;
	}
}

@media only screen and (max-width: 768px) {
	#header-nav-wrap {
		display: none;
		height: 100vh;
		width: 100%;
		right: 0;
		left: 0;
		position: absolute;
		background-color: #e9f6fc;
		padding: 29px 5px 0px;
		top: 0;
		margin: 0px 0 0;
		bottom: 0;
	}
	#header-nav-wrap .header-main-nav {
		display: block;
		height: auto;
		margin: 0 0 4.2rem 0;
		padding: 0 15px;
		border-top: 1px solid rgba(255, 255, 255, 0.03);
	}
	#header-nav-wrap .header-main-nav li {
		display: block;
		margin: 0;
		padding: 0;
		border-bottom: 1px solid rgba(255, 255, 255, 0.03);
	}
	#header-nav-wrap .header-main-nav li a {
		padding: 12px 0;
		line-height: 18px;
	}
	#header-nav-wrap .cta {
		height: 42px;
		line-height: calc(42px - .6rem);
		padding: 0 30px;
	}
	.header-menu-toggle {
		display: block;
	}
	.login-form {
		background: #fff;
		border-radius: 30px;
		margin: 0 auto 30px;
	}
	.login-bg h1 {
		font-size: 24px;
		letter-spacing: 0.5px;
	}
	.header-logo {
		width: 45px;
		margin: 7px 0;
	}
	/* Forgot password */
	#forgetpasswordmodal .modal-dialog {
		width: 100%;
		height: 100%;
		left: 0;
		position: absolute;
		right: 0;
		top: 0;
		bottom: 0;
		margin: 0;
	}
	#forgetpasswordmodal .modal-body {
		padding: 0;
		height: 100vh;
	}
	#forgetpasswordmodal .modal-content {
		height: 100%;
	}
	#forgetpasswordmodal .popup-box {
		padding: 80px 40px;
		height: 100%;
	}
	#forgetpasswordmodal h3 {
		line-height: 38px;
		margin: 0 0 18px;
	}
	#forgetpasswordmodal input {
		margin: 0 0 20px;
	}
	#forgetpasswordmodal .btn-changepwd {
		margin: 20px auto 0;
	}
	#forgetpasswordmodal .close {
		font-size: 36px;
	}
	/* Digiplan Header */
	.digiplan-header .navbar-brand {
		padding: 8px 15px;
		width: 76px;
		display: block;
	}
	.digiplan-header .navbar-brand img {
		width: 100%;
	}
	.digiplan-header {
		height: 70px;
	}
	.digiplan-header .navbar-toggle {
		border: 0;
		margin-top: 16px;
	}
	.digiplan-header .navbar-toggle:hover, .digiplan-header .navbar-toggle:focus
		{
		background: transparent;
	}
	.digiplan-header .navbar-toggle .icon-bar {
		background-color: #564d48;
		width: 29px;
	}
	.digiplan-header .navbar-toggle .icon-bar+.icon-bar {
		margin-top: 7px;
	}
	.digiplan-header .navbar-collapse {
		background: #e9f7fc;
		position: absolute;
		z-index: 10;
		height: 100vh;
		width: 100%;
		border: 0;
	}
	.digiplan-header .navbar-nav>li>a {
		margin: 27px 10px;
	}
	.previous-search {
		margin: 0px 0 5px;
	}
	.search-text span {
		padding: 10px;
		margin: 0 4px 0 0;
	}
	.previous-search input {
		margin: 0 0 10px;
	}
	.table-previous thead th {
		padding: 2px 5px !important;
		font-size: 14px;
	}
	/* Wizard Form */
	#wizardForm h1 {
		font-size: 26px;
		line-height: 35px;
	}
	#wizardForm .formDiv {
		margin: 0;
	}
	#wizardForm .mobile-btns button {
		background: transparent;
		color: #564d48;
		font-family: 'MuseoSansRounded500';
		font-size: 14px;
		letter-spacing: 0.5px;
		text-transform: uppercase;
		border: 0;
	}
}

@media only screen and (max-width: 600px) {
	.login-bg, .bg-arrow {
		background-size: 270%;
	}
	#header-nav-wrap .cta {
		display: block;
		padding: 0 20px;
	}
	.f-logo {
		width: 60px;
	}
	#header {
		height: 80px;
	}
	.f-logo {
		width: 60px;
	}
	.f-logo img {
		width: 100%;
	}
	.footer-links {
		float: right;
		text-align: right;
		margin: 0;
	}
	.copyright {
		text-align: center;
		width: 100%;
		margin: 0 0 10px;
	}
	.footer-social {
		float: none;
		width: 100%;
		clear: both;
		text-align: center;
		margin: 10px 0 0;
	}
}

@media only screen and (max-width: 400px) {
	.header-menu-toggle {
		right: 24px;
	}
}

/* -------------------------------------------------------------------
   * make sure the menu is visible on larger screens
   * ------------------------------------------------------------------- */
@media only screen and (min-width: 769px) {
	#header-nav-wrap {
		display: block !important;
	}
	.header-menu-toggle {
		display: none !important;
	}
}