<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>SampleTesting</display-name>
	<servlet>
		<description>
		</description>
		<display-name>UploadDocumentServlet</display-name>
		<servlet-name>UploadDocumentServlet</servlet-name>
		<servlet-class>com.vo.UploadDocumentServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UploadDocumentServlet</servlet-name>
		<url-pattern>/UploadDocumentServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>ForgotPassword</display-name>
		<servlet-name>ForgotPassword</servlet-name>
		<servlet-class>ForgotPassword</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ForgotPassword</servlet-name>
		<url-pattern>/ForgotPassword</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>Logout</display-name>
		<servlet-name>Logout</servlet-name>
		<servlet-class>Logout</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Logout</servlet-name>
		<url-pattern>/Logout</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>Login</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/servlet1</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Login2</servlet-name>
		<servlet-class>CaseLockSet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Login2</servlet-name>
		<url-pattern>/hehe</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Login4</servlet-name>
		<servlet-class>SaveDraft</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Login4</servlet-name>
		<url-pattern>/SaveDraft</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Login3</servlet-name>
		<servlet-class>Delete</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Login3</servlet-name>
		<url-pattern>/del</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Welcome</servlet-name>
		<servlet-class>Welcome</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Welcome</servlet-name>
		<url-pattern>/welcome</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CaseMstr</servlet-name>
		<servlet-class>CaseMstr</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CaseMstr</servlet-name>
		<url-pattern>/servlet2</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Profile</servlet-name>
		<servlet-class>Profile</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Profile</servlet-name>
		<url-pattern>/profileServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CreateServlet</servlet-name>
		<servlet-class>CreateServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CreateServlet</servlet-name>
		<url-pattern>/createServlet</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>login.jsp</welcome-file>
	</welcome-file-list>
</web-app>